Repository SwissOpenEM/ScopeMArchiver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish_docker_compose, build_mockarchiver

Path conditions:
  publish_docker_compose: any of: docker-compose.yml, prometheus.yml, .env
  build_mockarchiver: any of: mockarchiver/*, docker-compose-development.yml, .development.env

Fix trigger
  .github/workflows/build-docker-images.yml
Due: none

Add workflow dispatch
  .github/workflows/build-docker-images.yml
Due: none

Add image tag to docker compose
  .env
  docker-compose.yml
Due: publish_docker_compose

Remove explicit host references
  .companion.env
  .env
  README.md
  docker-compose.yml
  webuploader/src/routes/+page.svelte
  webuploader/src/routes/s3-upload/+page.svelte
Due: publish_docker_compose

push images
  .github/workflows/build-docker-images.yml
Due: none

2 poc direct upload to s3 uppy + minio (#8)
  .companion.env
  .development.env
  .env
  .github/workflows/build-docker-images.yml
  README.md
  docker-compose-development.yml
  docker-compose.yml
  prometheus.yml
  webuploader/.devcontainer/devcontainer.json
  webuploader/.dockerignore
  webuploader/.eslintignore
  webuploader/.eslintrc.cjs
  webuploader/.github/dependabot.yml
  webuploader/.gitignore
  webuploader/.npmrc
  webuploader/.prettierignore
  webuploader/.prettierrc
  webuploader/Dockerfile
  webuploader/README.md
  webuploader/jsconfig.json
  webuploader/package-lock.json
  webuploader/package.json
  webuploader/src/app.d.ts
  webuploader/src/app.html
  webuploader/src/lib/index.js
  webuploader/src/routes/+page.svelte
  webuploader/src/routes/s3-upload/+page.svelte
  webuploader/src/theme/_smui-theme.scss
  webuploader/src/theme/dark/_smui-theme.scss
  webuploader/static/favicon.png
  webuploader/static/smui.css
  webuploader/svelte.config.js
  webuploader/vite.config.js
  webuploader/yarn.lock
Due: publish_docker_compose, build_mockarchiver

CI: detect changes only in PRs
  .github/workflows/build-docker-images.yml
Due: none

CI: detect changes only in PRs (#9)
  .github/workflows/build-docker-images.yml
Due: none

Add tusd upload
  .env
  docker-compose.yml
  webuploader/src/routes/+page.svelte
  webuploader/src/routes/tusd-upload/+page.svelte
Due: publish_docker_compose

Add tusd upload (#10)
  .env
  docker-compose.yml
  webuploader/src/routes/+page.svelte
  webuploader/src/routes/tusd-upload/+page.svelte
Due: publish_docker_compose

Add icons, service worker and manifest for PWA
  webuploader/src/app.html
  webuploader/src/service-worker/index.ts
  webuploader/static/favicon.png
  webuploader/static/icons/android-chrome-512x512.png
  webuploader/static/icons/favicon.ico
  webuploader/static/manifest.json
Due: none

Move monitoring into separate docker-compose
  docker-compose.yml
  monitoring.docker-compose.yml
Due: publish_docker_compose

Add build step to webuploader
  docker-compose.yml
Due: publish_docker_compose

WIP: tasks
  docker-compose.yml
  jobs.docker-compose.yml
  jobsystem/Pipfile
  jobsystem/Pipfile.lock
  jobsystem/flower.Dockerfile
  jobsystem/main.py
  jobsystem/tasks.py
  jobsystem/web.Dockerfile
  jobsystem/worker.Dockerfile
  jobsystem/working_storage_interface.py
  webuploader/src/routes/+page.svelte
Due: publish_docker_compose

Add CI for celery worker, server, flower
  .env
  .github/workflows/build-docker-images.yml
  jobs.docker-compose.yml
  jobsystem/flower.Dockerfile
Due: publish_docker_compose

docker compose fixes
  .env
  docker-compose.yml
  jobs.docker-compose.yml
Due: publish_docker_compose

Add minio based archival tasks
  jobsystem/.vscode/launch.json
  jobsystem/main.py
  jobsystem/tasks.py
  jobsystem/web.Dockerfile
  jobsystem/working_storage_interface.py
Due: none

Add UI elements to trigger archiving jobs
  webuploader/package.json
  webuploader/src/app.html
  webuploader/src/routes/+page.svelte
  webuploader/static/favicon.ico
  webuploader/static/smui.css
  webuploader/yarn.lock
Due: none

Add minio configuration
  .env
Due: publish_docker_compose

Fix companion settings
  .companion.env
  docker-compose.yml
Due: publish_docker_compose

Fix missing folder
  jobsystem/worker.Dockerfile
Due: none

Fix bucket
  .env
Due: publish_docker_compose

Add leek and elastic search
  jobs.docker-compose.yml
Due: none

Add files via upload
  fbd.drawio.png
Due: none

Fixes in job system
  jobsystem/Pipfile
  jobsystem/Pipfile.lock
  jobsystem/main.py
  jobsystem/tasks.py
Due: none

14 implement basic job queue (#21)
  .companion.env
  .env
  .github/workflows/build-docker-images.yml
  docker-compose.yml
  jobs.docker-compose.yml
  jobsystem/.vscode/launch.json
  jobsystem/Pipfile
  jobsystem/Pipfile.lock
  jobsystem/flower.Dockerfile
  jobsystem/main.py
  jobsystem/tasks.py
  jobsystem/web.Dockerfile
  jobsystem/worker.Dockerfile
  jobsystem/working_storage_interface.py
  monitoring.docker-compose.yml
  webuploader/package.json
  webuploader/src/app.html
  webuploader/src/routes/+page.svelte
  webuploader/static/favicon.ico
  webuploader/static/smui.css
  webuploader/yarn.lock
Due: publish_docker_compose

Cleanup job system, add feature flags
  .compose.env
  .github/workflows/build-docker-images.yml
  backend/.vscode/launch.json
  backend/Pipfile
  backend/Pipfile.lock
  backend/archiver/__init__.py
  backend/archiver/api.py
  backend/archiver/model.py
  backend/archiver/tasks.py
  backend/archiver/working_storage_interface.py
  backend/bin/env.sh
  backend/db/create_db.sh
  backend/flower.Dockerfile
  backend/ingester/api.py
  backend/ingester/tasks.py
  backend/jobsystem/celery.py
  backend/main.py
  backend/requirements.txt
  backend/web.Dockerfile
  backend/worker.Dockerfile
  docker-compose.yml
  jobs.docker-compose.yml
  jobsystem/.vscode/launch.json
Due: publish_docker_compose

Improve routing to backend
  backend/main.py
  backend/web.Dockerfile
  docker-compose-development.yml
  docker-compose.yml
  jobs.docker-compose.yml
  webuploader/src/routes/+page.svelte
Due: publish_docker_compose, build_mockarchiver

Rename backend service
  .development.env
  .github/workflows/build-docker-images.yml
  .production.env
  README.md
  docker-compose.yml
  jobs.docker-compose.yml
Due: publish_docker_compose, build_mockarchiver

Try electron
  webuploader/electron-openem/electron-openem/.editorconfig
  webuploader/electron-openem/electron-openem/.eslintignore
  webuploader/electron-openem/electron-openem/.eslintrc.cjs
  webuploader/electron-openem/electron-openem/.gitignore
  webuploader/electron-openem/electron-openem/.prettierignore
  webuploader/electron-openem/electron-openem/.prettierrc.yaml
  webuploader/electron-openem/electron-openem/.vscode/extensions.json
  webuploader/electron-openem/electron-openem/.vscode/launch.json
  webuploader/electron-openem/electron-openem/.vscode/settings.json
  webuploader/electron-openem/electron-openem/README.md
  webuploader/electron-openem/electron-openem/dev-app-update.yml
  webuploader/electron-openem/electron-openem/electron-builder.yml
  webuploader/electron-openem/electron-openem/electron.vite.config.ts
  webuploader/electron-openem/electron-openem/package-lock.json
  webuploader/electron-openem/electron-openem/package.json
  webuploader/electron-openem/electron-openem/resources/icon.png
  webuploader/electron-openem/electron-openem/src/main/index.ts
  webuploader/electron-openem/electron-openem/src/preload/index.d.ts
  webuploader/electron-openem/electron-openem/src/preload/index.ts
  webuploader/electron-openem/electron-openem/src/renderer/index.html
  webuploader/electron-openem/electron-openem/src/renderer/src/App.svelte
  webuploader/electron-openem/electron-openem/src/renderer/src/_App.svelte
  webuploader/electron-openem/electron-openem/src/renderer/src/assets/base.css
  webuploader/electron-openem/electron-openem/src/renderer/src/assets/electron.svg
  webuploader/electron-openem/electron-openem/src/renderer/src/assets/main.css
  webuploader/electron-openem/electron-openem/src/renderer/src/assets/smui.css
  webuploader/electron-openem/electron-openem/src/renderer/src/assets/wavy-lines.svg
  webuploader/electron-openem/electron-openem/src/renderer/src/components/Versions.svelte
  webuploader/electron-openem/electron-openem/src/renderer/src/env.d.ts
  webuploader/electron-openem/electron-openem/src/renderer/src/main.py
  webuploader/electron-openem/electron-openem/src/renderer/src/main.ts
  webuploader/electron-openem/electron-openem/svelte.config.mjs
  webuploader/electron-openem/electron-openem/tsconfig.json
  webuploader/electron-openem/electron-openem/tsconfig.node.json
  webuploader/electron-openem/electron-openem/yarn.lock
Due: none

Backend: add create datablock task, add pytest tets
  backend/.flake8
  backend/.vscode/settings.json
  backend/Pipfile
  backend/Pipfile.lock
  backend/archiver/api.py
  backend/archiver/model.py
  backend/archiver/scicat_interface.py
  backend/archiver/tasks.py
  backend/archiver/tests/__init__.py
  backend/archiver/tests/test_archiving.py
  backend/archiver/tests/test_retrieving.py
  backend/archiver/tests/test_scicat_interface.py
  backend/archiver/working_storage_interface.py
  docker-compose.yml
Due: publish_docker_compose

CI: Add pytest step in backend
  .github/workflows/build-docker-images.yml
Due: none

Add pyscript to electron
  webuploader/electron-openem/electron-openem/electron-builder.yml
  webuploader/electron-openem/electron-openem/src/renderer/index.html
  webuploader/electron-openem/electron-openem/src/renderer/src/App.svelte
  webuploader/electron-openem/electron-openem/src/renderer/src/assets/extract.py
  webuploader/electron-openem/electron-openem/src/renderer/src/assets/main.css
  webuploader/electron-openem/electron-openem/src/renderer/src/assets/main.py
  webuploader/electron-openem/electron-openem/src/renderer/src/assets/pyscript.json
  webuploader/electron-openem/electron-openem/src/renderer/src/assets/time_test.py
  webuploader/electron-openem/electron-openem/src/renderer/src/main.py
  webuploader/electron-openem/electron-openem/svelte.config.mjs
Due: none

Add sequence diagram for archiving flow
  backend/archiver/readMe.md
Due: none

Fix request mock usage
  backend/archiver/scicat_interface.py
  backend/archiver/tests/test_scicat_interface.py
Due: none

update tasks readme
  backend/archiver/readMe.md
Due: none

ReadMe.md: Update archiving task
  backend/archiver/readMe.md
Due: none

Add Basemodels ffor datablocks, origdatablocks, job
  backend/archiver/model.py
Due: none

Add scicat API mock
  backend/archiver/tests/scicat_mock.py
Due: none

Add test cases for archive flow
  backend/archiver/scicat_interface.py
  backend/archiver/tasks.py
  backend/archiver/tests/conftest.py
  backend/archiver/tests/test_archiving.py
  backend/archiver/tests/test_scicat_interface.py
  backend/archiver/tests/test_tasks.py
Due: none
