Repository SwissOpenEM/ScopeMArchiver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish_docker_compose, build_mockarchiver

Path conditions:
  publish_docker_compose: any of: docker-compose.yml, prometheus.yml, .env
  build_mockarchiver: any of: mockarchiver/*, docker-compose-development.yml, .development.env

Adapt backend API
  backend/archiver/api.py
Due: none

Add more pydantic models and register them with celery
  backend/archiver/model.py
  backend/archiver/tasks.py
Due: none

Implement scicat api test for archiving flow
  backend/archiver/readMe.md
  backend/archiver/scicat_interface.py
  backend/archiver/tasks.py
  backend/archiver/tests/scicat_mock.py
  backend/archiver/tests/test_scicat_interface.py
  backend/archiver/tests/test_tasks.py
Due: none

Create retrieval flow test template
  backend/archiver/tasks.py
  backend/archiver/tests/test_archival_flow.py
  backend/archiver/tests/test_retrieval_flow.py
Due: none

Formatting cleanup
  backend/.flake8
  backend/.vscode/settings.json
  backend/Pipfile
  backend/Pipfile.lock
  backend/archiver/api.py
  backend/archiver/model.py
  backend/archiver/scicat_interface.py
  backend/archiver/tasks.py
Due: none

Upgrade python version
  backend/Pipfile.lock
  backend/flower.Dockerfile
  backend/web.Dockerfile
  backend/worker.Dockerfile
Due: none

Cleanup job system, add feature flags (#35)
  .development.env
  .env
  .github/workflows/build-docker-images.yml
  .production.env
  README.md
  backend/.vscode/launch.json
  backend/Pipfile
  backend/Pipfile.lock
  backend/archiver/__init__.py
  backend/archiver/api.py
  backend/archiver/model.py
  backend/archiver/tasks.py
  backend/archiver/working_storage_interface.py
  backend/bin/env.sh
  backend/db/create_db.sh
  backend/flower.Dockerfile
  backend/ingester/api.py
  backend/ingester/tasks.py
  backend/jobsystem/celery.py
  backend/main.py
  backend/requirements.txt
  backend/web.Dockerfile
  backend/worker.Dockerfile
  docker-compose-development.yml
  docker-compose.yml
  jobs.docker-compose.yml
  jobsystem/.vscode/launch.json
  webuploader/src/routes/+page.svelte
Due: publish_docker_compose, build_mockarchiver

Add unit tests for scicat integration of archival flow
  backend/.data/broker/out/.gitignore
  backend/.data/broker/processed/.gitignore
  backend/.vscode/settings.json
  backend/archiver/datablocks.py
  backend/archiver/readMe.md
  backend/archiver/scicat_interface.py
  backend/archiver/tasks.py
  backend/archiver/tests/conftest.py
  backend/archiver/tests/scicat_mock.py
  backend/archiver/tests/test_archival_flow.py
  backend/archiver/working_storage_interface.py
Due: none

Tests: use memory broker
  backend/archiver/tests/conftest.py
Due: none

Tests: fix exception task
  backend/archiver/tests/test_archival_flow.py
Due: none

mem broker
  backend/.data/broker/out/.gitignore
  backend/.data/broker/processed/.gitignore
Due: none

Create debug launch.json
  backend/.vscode/launch.json
  backend/.vscode/tasks.json
Due: none

Fix backend api endpoints
  backend/archiver/api.py
  backend/archiver/model.py
Due: none

Add dummy tasks implementation
  backend/archiver/datablocks.py
  backend/archiver/tasks.py
Due: none

Add Scicat mock service
  backend/.vscode/launch.json
  backend/archiver/tests/scicat_api_mock.py
Due: none

Change jobsystem to prefect
  backend/.vscode/launch.json
  backend/Pipfile
  backend/Pipfile.lock
  backend/archiver/api.py
  backend/archiver/archiving_flow.py
  backend/archiver/datablocks.py
  backend/archiver/scicat_interface.py
  backend/archiver/tasks.py
  backend/archiver/tests/scicat_api_mock.py
  backend/archiver/tests/test_archival_flow.py
  backend/archiver/tests/test_archiving.py
  backend/archiver/tests/test_retrieval_flow.py
  backend/archiver/tests/test_scicat_interface.py
  backend/jobsystem/celery.py
  backend/scicatmock.Dockerfile
Due: none

Refactor flows into separate files
  backend/.vscode/launch.json
  backend/archiver/api.py
  backend/archiver/flows/__init__.py
  backend/archiver/flows/__main__.py
  backend/archiver/flows/archiving_flow.py
  backend/archiver/flows/retrieval_flow.py
  backend/archiver/scicat_tasks.py
  backend/archiver/tests/scicat_mock.py
  backend/archiver/tests/test_archival_flow.py
  backend/archiver/tests/test_retrieval_flow.py
  backend/archiver/tests/test_scicat_interface.py
  backend/prefect-worker.Dockerfile
Due: none

Fix routes of traefik and backend deployment
  docker-compose.yml
Due: publish_docker_compose

Remove celery remains
  jobs.docker-compose.yml
Due: none

Fix relative imports
  backend/archiver/flows/archiving_flow.py
  backend/archiver/tests/test_retrieval_flow.py
Due: none

Fix local data folders
  .development.env
  .gitignore
  .production.env
  data/LTS/.gitignore
  data/archiving/.gitignore
  data/minio/.gitignore
  data/prefect/.gitignore
  data/uppy-server-data/.gitignore
  docker-compose.yml
  jobs.docker-compose.yml
  lts/.gitignore
Due: publish_docker_compose, build_mockarchiver

Fix docker compose startup behavior
  README.md
  jobs.docker-compose.yml
Due: none

CI: adapt to prefect
  .github/workflows/build-docker-images.yml
Due: none

CI: use python 3.11
  .github/workflows/build-docker-images.yml
Due: none

CI: fix tests
  backend/archiver/tests/test_archiving.py
Due: none

CI: Fix image tags
  .development.env
  .production.env
  jobs.docker-compose.yml
Due: build_mockarchiver

CI: Fix .production.env
  .production.env
Due: none

CI: Remove celery, add scicatmock
  .github/workflows/build-docker-images.yml
  .production.env
Due: none

CI
  .production.env
  jobs.docker-compose.yml
Due: none

CI: image tag
  docker-compose.yml
  jobs.docker-compose.yml
Due: publish_docker_compose

Add .env to compose
  docker-compose.yml
Due: publish_docker_compose

Revert "Add .env to compose"
  docker-compose.yml
Due: publish_docker_compose

Rename .env
  .env
Due: publish_docker_compose

Replace celery by prefect (#39)
  .development.env
  .env
  .github/workflows/build-docker-images.yml
  .gitignore
  README.md
  backend/.vscode/launch.json
  backend/.vscode/settings.json
  backend/.vscode/tasks.json
  backend/Pipfile
  backend/Pipfile.lock
  backend/archiver/api.py
  backend/archiver/datablocks.py
  backend/archiver/flows/__init__.py
  backend/archiver/flows/__main__.py
  backend/archiver/flows/archiving_flow.py
  backend/archiver/flows/retrieval_flow.py
  backend/archiver/model.py
  backend/archiver/readMe.md
  backend/archiver/scicat_interface.py
  backend/archiver/scicat_tasks.py
  backend/archiver/tasks.py
  backend/archiver/tests/conftest.py
  backend/archiver/tests/scicat_api_mock.py
  backend/archiver/tests/scicat_mock.py
  backend/archiver/tests/test_archival_flow.py
  backend/archiver/tests/test_archiving.py
  backend/archiver/tests/test_retrieval_flow.py
  backend/archiver/tests/test_scicat_interface.py
  backend/archiver/working_storage_interface.py
  backend/jobsystem/celery.py
  backend/prefect-worker.Dockerfile
  backend/scicatmock.Dockerfile
  data/LTS/.gitignore
  data/archiving/.gitignore
  data/minio/.gitignore
  data/prefect/.gitignore
  data/uppy-server-data/.gitignore
  docker-compose.yml
  jobs.docker-compose.yml
Due: publish_docker_compose, build_mockarchiver

remove image tag
  .env
Due: publish_docker_compose

Companion path
  .companion.env
Due: none

Tasks: improve description and add questions
  backend/archiver/readMe.md
Due: none

Finish archive flow, add datablocks tests, pathlib, typehints
  .production.env
  backend/.vscode/settings.json
  backend/Pipfile
  backend/Pipfile.lock
  backend/archiver/api.py
  backend/archiver/datablocks.py
  backend/archiver/flows/__main__.py
  backend/archiver/flows/archiving_flow.py
  backend/archiver/logging.py
  backend/archiver/model.py
  backend/archiver/readMe.md
  backend/archiver/scicat_interface.py
  backend/archiver/scicat_tasks.py
  backend/archiver/tests/conftest.py
  backend/archiver/tests/test_archiving.py
  backend/archiver/tests/test_datablocks.py
  backend/archiver/working_storage_interface.py
Due: none

Add debug launch config
  backend/.vscode/launch.json
Due: none

Add move_to_LTS stub
  backend/archiver/datablocks.py
Due: none
