Repository SwissOpenEM/ScopeMArchiver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish_docker_compose, build_mockarchiver

publish_docker_compose:
  stage: publish
  before_script:
  - mkdir ./build
  - cp docker-compose.yml ./build/
  - cp .env ./build/
  script:
  - tar cvzf ${ARCHIVE_NAME} ./build
  ...

build_mockarchiver:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:24.0.2
  stage: build
  tags:
  - docker-executor
  services:
  - name: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:24.0.2-dind
    alias: docker
    variables:
      DOCKER_TLS_CERTDIR: ''
  variables:
  ...

Refactor deployment
  .development.env
  .production.env
  backend/prefect-config.Dockerfile
  backend/prefect-flows.Dockerfile
  backend/prefect-runtime.Dockerfile
  backend/prefect.yaml
  docker-compose.yml
  infra.docker-compose.yml
  jobs.docker-compose.yml
  minio.docker-compose.yml
  prefect-worker.docker-compose.yml
Due: publish_docker_compose, build_mockarchiver

Auth
  docs/auth.drawio
Due: none

docs
  README.md
  backend/archiver/utils/datablocks.py
  docs.Dockerfile
  docs/arch.drawio
  docs/architecture.md
  docs/archival_flow.drawio
  docs/flows.md
  docs/index.md
  docs/upload.drawio
  mkdocs.yml
Due: none

Restructure and improvde documentation
  .production.env
  README.md
  backend/prefect-vars.toml
  docker-compose.yml
  docs.Dockerfile
  docs/architecture.md
  docs/archival_flow.md
  docs/components.drawio
  docs/deployment.drawio
  docs/deployment.md
  docs/deployment_detailed.drawio
  docs/index.md
  docs/prefect.drawio
  docs/retrieval_flow.md
  docs/upload_flow.md
  mkdocs.yml
Due: publish_docker_compose

Remvoe Profiles from docker compose
  infra.docker-compose.yml
  jobs.docker-compose.yml
  minio.docker-compose.yml
  prefect-worker.docker-compose.yml
Due: none

chore(ci): use bake action, build runtime image
  .env
  .github/workflows/build-docker-images.yml
  backend/.vscode/launch.json
  backend/prefect-config.Dockerfile
  backend/prefect-flows.Dockerfile
  backend/prefect-runtime.Dockerfile
  infra.docker-compose.yml
  jobs.docker-compose.yml
Due: publish_docker_compose

docs: update deployment section
  README.md
  docs/architecture.md
  docs/deployment.md
  mkdocs.yml
Due: none

ci(docs): add gh pages deploy action
  .github/workflows/deploy-gh-pages.yml
Due: none

fix(ci): main trigger used template variable
  .github/workflows/build-docker-images.yml
  .github/workflows/deploy-gh-pages.yml
Due: none

fix: rename env file
  README.md
  docs/deployment.md
Due: none

ci(github): build and deploy pages
  .github/workflows/deploy-gh-pages.yml
Due: none

fix(minio): adapt deployment to new storage, add healthchecks
  .development.env
  .env
  minio.docker-compose.yml
Due: publish_docker_compose, build_mockarchiver

fix(runtime-image): fix runtime image and tags
  .env
  backend/prefect-runtime.Dockerfile
  backend/prefect.yaml
Due: publish_docker_compose

fix(lts): improve interaction with LTS; wait until file available before copying
  backend/archiver/utils/datablocks.py
Due: none

fix(e2e): fix end to end test; scicat api has changed
  backend/archiver/tests/test_e2e.py
Due: none

rearrange
  backend/archiver/.vscode/launch.json
  backend/archiver/Pipfile
  backend/archiver/Pipfile.lock
  backend/prefect-config.Dockerfile
  backend/prefect-runtime.Dockerfile
Due: none

ci: split jobs for api and archiver
  .github/workflows/build-docker-images.yml
  backend/api/__main__.py
  backend/api/app/src/openapi_server/__init__.py
  backend/api/app/src/openapi_server/__main__.py
  backend/api/app/src/openapi_server/tests/__init__.py
  backend/api/app/src/openapi_server/tests/conftest.py
  backend/api/app/src/openapi_server/tests/test_archiving_api.py
  backend/api/app/src/openapi_server/tests/test_presigned_urls_api.py
  backend/archiver/.vscode/settings.json
Due: none

chore: fix pipfiles
  backend/api/app/Pipfile
  backend/api/app/Pipfile.lock
  backend/archiver/.vscode/launch.json
  backend/archiver/Pipfile
  backend/archiver/Pipfile.lock
Due: none

Disable minio deployment
  docker-compose.yml
Due: publish_docker_compose

fix(api): minio secrets
  backend/api/app/.vscode/launch.json
  backend/api/app/src/openapi_server/__main__.py
  backend/api/app/src/openapi_server/impl/s3.py
  backend/api/app/src/openapi_server/settings.py
  infra.docker-compose.yml
Due: none

ci: disable empty tests
  .github/workflows/build-docker-images.yml
Due: none

fix missing rsync
  backend/prefect-runtime.Dockerfile
Due: none

Adapt end to end test
  backend/archiver/tests/test_e2e.py
Due: none

env file
  .env
  .prod.env
  infra.docker-compose.yml
  jobs.docker-compose.yml
Due: publish_docker_compose

fix minio endpoint
  .prod.env
  backend/api/app/src/openapi_server/impl/s3.py
  infra.docker-compose.yml
Due: none

fix(archiver): fix minio region setting
  backend/config.toml
Due: none

Fix api
  backend/api/app/.vscode/launch.json
  backend/api/app/Pipfile
  backend/api/app/Pipfile.lock
  backend/api/app/src/openapi_server/impl/archiving.py
  backend/api/app/src/openapi_server/impl/archving_api_impl.py
Due: none

fix(ci): fix archiver path
  .github/workflows/build-docker-images.yml
Due: none

feat(api): add better error handling to backend api
  backend/api/openapi.yaml
  backend/api/src/openapi_server/apis/archiving_api.py
  backend/api/src/openapi_server/apis/archiving_api_base.py
  backend/api/src/openapi_server/apis/presigned_urls_api.py
  backend/api/src/openapi_server/apis/presigned_urls_api_base.py
  backend/api/src/openapi_server/impl/archving_api_impl.py
  backend/api/src/openapi_server/impl/presigned_url_impl.py
  backend/api/src/openapi_server/models/internal_error.py
  backend/api/tests/test_archiving_api.py
  backend/api/tests/test_presigned_urls_api.py
Due: none

fix minio endpoint
  backend/api/app/src/openapi_server/settings.py
Due: none

feat(api): add response to abort multipart upload
  backend/api/openapi.yaml
  backend/api/src/openapi_server/apis/presigned_urls_api.py
  backend/api/src/openapi_server/apis/presigned_urls_api_base.py
  backend/api/src/openapi_server/impl/presigned_url_impl.py
  backend/api/src/openapi_server/impl/s3.py
  backend/api/src/openapi_server/models/abort_upload_resp.py
Due: none

fix(minio): add more settings, remove hardcoded ones
  backend/api/app/.vscode/launch.json
  backend/api/app/src/openapi_server/__main__.py
  backend/api/app/src/openapi_server/impl/presigned_url_impl.py
  backend/api/app/src/openapi_server/impl/s3.py
  backend/api/app/src/openapi_server/settings.py
Due: none

feat(minio): add new minio endpoint
  .prod.env
  backend/prefect-vars.toml
Due: none

fix create job
  backend/api/app/src/openapi_server/impl/archving_api_impl.py
Due: none

cleanup(api): use logger and unify levels
  backend/api/app/src/openapi_server/__main__.py
  backend/api/app/src/openapi_server/impl/archving_api_impl.py
  backend/api/app/src/openapi_server/impl/presigned_url_impl.py
  backend/api/app/src/openapi_server/impl/s3.py
Due: none

Path conditions:
  publish_docker_compose: any of: docker-compose.yml, prometheus.yml, .env
  build_mockarchiver: any of: mockarchiver/*, docker-compose-development.yml, .development.env
